.info{
    height: 30rem;
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
    scrollbar-width: none;
}
.info .card{
    height: 24rem;
    width: 20rem;
    border: 0;
    margin: 1rem 0.5rem;
    border-radius: 1rem;
    color: white !important;
    font-weight: 800 !important;
    transition: all 0.4s ease-in-out;
}
.info .card{
    padding: 0;
}

.info .card img{
    border-radius: 1rem;
    object-fit: cover;
    width: 100% !important;
    height: 24rem;
}

.info .card:hover{
    transform:translateY(-4%);
    box-shadow: -1px 1px 6px 0px #000000;
}