.landingPage{
    height: 100%;
    width: 100%;
    margin-bottom: 5rem;
    /* background-image: linear-gradient(#0b1845, #11245b , #183176,#21439a ,#3153b1, #3a57b5, #4d62bf, #5667c4, #6d73cf, #7c7cd8); */
}